        /* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-direction{
    flex-direction: column;
}

.container{
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.txt-right{
    text-align: right;
}

.txt-uppercase{
    text-transform: uppercase;
}

.txt-center{
    text-align: center;
}

.txt-medium{
    font-size: .75rem;
}

.bar-green{
    background-color: lime;
    height: 2px;
    border: 2rem;
    width: 40%;
}

.btn{
    border-radius: 2rem;
    border: 1px solid white;
    background: transparent;
    padding: .55rem 2rem;
}

.justify-center{
    justify-content: center;
}

.overflow{
    overflow: auto;
}

.align-center{
    align-items: center;
}

.between{
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

nav{
    background-color: #000000;
    height: calc(100vh - 100px);
    width: 60px;
    justify-content: space-between;
}

div.nav{
    padding: 0.55rem 1rem;  
}

div.nav img{
    margin-bottom: 1rem;
}

div.profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    background-size: cover;
    background-color: lightgray;
}


section{
    background-color: #141922;
    height: calc(100vh - 100px);
    width: calc(100% - 60px);
}

footer{
    background-color: #282828;
    height: 100px;
    width: 100%;
}

.responsive-none{
    display: none;
}

#logo-big{
    display: none;
}

section header{
    background-color: #080b12;
    padding: 1.5rem;
}

section ul li{
    margin-right: 1rem;
    margin-top: 1rem;
}

div.songs .song{
    width: calc(100% / 2 - 1rem);
}

.song img{
    width: 100%;
}